@page
@model Blockchain.Pages.CheckDataModel
@{
    ViewData["Title"] = "CheckData";
}

<h2 class="title" style="margin-left: 15px;">Data bekijken</h2>


    <div class="container">
        <div class="row">
            <div class="col-lg-2 Naam">
                <h4>Naam:</h4>
                <p>@Model.surname</p>
            </div>
            <div class="col-lg-2 BSN">
                <h4>BSN:</h4>
                <p>@Model.bsn</p>
            </div>
            <div class="col-lg-3 bDate">
                <h4>Geboortedatum:</h4>
                <p>@Model.birthDate</p>
            </div>
            <div class="col-lg-2 TypeData">
                <h4>Type data:</h4>
                <p>@Model.type</p>
            </div>
            <div class="col-lg-2 ValueBlock">
                <h4>Gegevens:</h4>
                <p>@Model.value</p>
            </div>
        </div>
    </div>
